:root {
	--green: #4ab573;
	--white: #ffffff;
	--black: #001f3f;
	--grey: #e0e0e0;
	
}
.navbar {
	width: 100%;
	background-Color: var(--green);
	overflow: hidden;
	padding-top: 0px;
	position: fixed;
	height: 6.5vh;
	left: 0;
	top: 0;
	transition: 1s;
	z-index: 10;
	transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}
.navbar left {
	float: left;
	padding: 12px;
	color: var(--white);
	text-decoration: none;
	font-size: 23px;
	height: 6.5vh;
}
.navbar left:hover {
	background-color: var(--black);
}
.active {
	cursor: pointer;
	onclick: openNav();
}
@media screen and (max-width: 500px) {
	.navbar a {
		float: none;
		display: block;
   }
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--green);
	overflow-x: hidden;
	transition: cubic-bezier(.01, 1.93, 1, -0.6);
	padding-top: 60px;
}
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: var(--white);
	display: block;
	transition: 0.3s;
}
.sidenav a:hover {
	color: var(--grey);
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
#main {
	transition: margin-left .5s;
	
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
   }
	.sidenav a {
		font-size: 18px;
   }
}
.fa {
	font-size: 25px;
	width: 25px;
	text-align: center;
	text-decoration: none;
}
.fa:hover {
	opacity: 0.7;
}
.write {
	min-height: 61vh;
	color: var(--black);
	width: 60%;
	padding: 25px;
	margin: auto;
	margin-top: 4rem;
	padding-bottom: 100px;
	margin-bottom: 10%;
	border-radius: 27px;
	background: var(--grey);
	box-shadow: inset 0 28px 28px 56px #7d7d7d, inset 0-28px -28px 56px #ffffff;
}
.bottompage {
    background-color: var(--green);
    left: 0;
    width: 100%;
    height: 10vh;
    bottom: 0;
	
}


#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
#popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 90%;
	z-index: 1;
}
#popup-iframe {
	display: block;
	object-fit: cover;
	display: block;
	height: 100%;
	width: 100%;
	background-color: white;
}
.card {
    height: auto;
    aspect-ratio: 1 / 1; /* Ensure height is at least equal to width */
    width: 100%;
    overflow: hidden;
    max-width: 19vh;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure the elements inside the card are spaced evenly */
    border-radius: 0; /* Remove rounded corners */
}
.card-image {
	max-width: 100%;
	height: auto;
}
.card-description {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content */
    width: 100%;
	background-color: #f5f5f5;
    padding-bottom: 1rem;
    padding-left: 0px;
    flex-grow: 1;
    flex-basis: 50%; /* Ensure equal height between card-description and text-title */
}
.text-title {
    background: #4286f4;
    padding: 0.5rem;
    text-overflow: ellipsis;
    text-align: center;
    flex-grow: 1;
    flex-basis: 50%; /* Ensure equal height between text-title and card-description */
}
td{
	padding: .5vh;
}
.column img {
	width: 100%;
	height: auto;
	max-width: 75%;
  }
  
#pagerow {
	padding: .2vw;
	padding-right: 0px;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-Color: var(--white);
	font-size: calc(.6em + .6vw);
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
  }
  .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
  }
.row iframe, img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.column {
	flex: 1;
	max-width: 45%;
	padding: 0 15px;
	text-align: center;
	margin-bottom: 20px;
  }
.container iframe {
	z-index: 1;
	overflow: hidden;
	min-height: 67%;
	max-height: 67%;
	background-color: white;
}
.table {
	position: absolute;
  left: 50%;
  top: 50%;
  }
  input[type=text], input[type=button] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	}

	table {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around; /* Distribute the cards evenly */
	}
	
	tr {
		width: 100%;
		display: flex; /* Flexbox to align all items in the same row */
		justify-content: space-around; /* Ensure cards are spaced evenly */
	}
	
	td {
		display: flex; /* Flexbox ensures the td maintains equal height */
		flex-direction: column;
		padding: .5vh;
		flex-basis: 30%; /* Allow td to take up a third of the width */
	}

	.card-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr); /* Default for small screens (2 cards per row) */
		gap: 10px;
	}

	@media only screen and (min-width: 500px) {
		.card-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr); /* 3 cards per row for medium screens */
		}
	}

	@media only screen and (min-width: 800px) {
		.card-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr); /* 3 cards per row for medium screens */
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.card-container {
			display: grid;
			grid-template-columns: repeat(5, 1fr); /* 4 cards per row for large screens */
		}
	}

	@media only screen and (min-width: 1500px) {
		.card-container {
			display: grid;
			grid-template-columns: repeat(6, 1fr); /* 4 cards per row for large screens */
		}
	}

	svg-inline--fa {
		vertical-align: -0.200em;
	  }
	  
	  .rounded-social-buttons {
		text-align: center;
		padding-top: 1vh;
	  }
	  
	  .rounded-social-buttons .social-button {
		display: inline-block;
		position: relative;
		cursor: pointer;
		width: 3.125rem;
		height: 3.125rem;
		border: 0.125rem solid transparent;
		text-decoration: none;
		text-align: center;
		color: #fefefe;
		font-size: 1.5625rem;
		font-weight: normal;
		line-height: 2em;
		border-radius: 1.6875rem;
		transition: all 0.5s ease;
		margin-right: 0.75rem; /* Increased margin-right for more horizontal space */
		margin-bottom: 0.25rem;
	}
	  

	  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-tiktok, .fa-youtube, .fa-instagram {
		font-size: 25px;
	  }
	  
	  .rounded-social-buttons .social-button.facebook {
		background: #3b5998;
	  }
	  
	  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
		color: #3b5998;
		background: #fefefe;
		border-color: #3b5998;
	  }
	  
	  .rounded-social-buttons .social-button.twitter {
		background: #55acee;
	  }
	  
	  .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
		color: #55acee;
		background: #fefefe;
		border-color: #55acee;
	  }
	  
	  .rounded-social-buttons .social-button.linkedin {
		background: #007bb5;
	  }
	  
	  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
		color: #007bb5;
		background: #fefefe;
		border-color: #007bb5;
	  }

	  .rounded-social-buttons .social-button.tryhackme {
		background: #c43b01;
	  }
	  
	  .rounded-social-buttons .social-button.tryhackme:hover, .rounded-social-buttons .social-button.tryhackme:focus {
		color: #007bb5;
		background: #fefefe;
		border-color: #007bb5;
	  }

	  .rounded-social-buttons .social-button.leetcode {
		background: #01121b;
	  }
	  
	  .rounded-social-buttons .social-button.leetcode:hover, .rounded-social-buttons .social-button.tryhackme:focus {
		color: #007bb5;
		background: #fefefe;
		border-color: #007bb5;
	  }
	  
	  #writingglist {
		padding-top: 7vh;
	  }

	  center{
		padding-bottom: 1vh;
	  }

	  .rounded-social-buttons .social-button {
		position: relative;
	}
	
	.tooltip {
		visibility: hidden;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 5px 10px;
		border-radius: 5px;
		position: absolute;
		bottom: 125%; /* Position above the icon */
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;
		transition: opacity 0.3s;
		white-space: nowrap;
		z-index: 1;
	}
	
	.social-button:hover .tooltip {
		visibility: visible;
		opacity: 1;
	}
	p {
		line-height: 2 ;
	  }

	