@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source './src/**/*.{html,js,svelte,ts,md}';
@source '../node_modules/flowbite-svelte/**/*.{html,js,svelte,ts}';
@source '../node_modules/flowbite-svelte-icons/**/*.{html,js,svelte,ts}';
@source '../node_modules/flowbite-svelte-blocks/**/*.{html,js,svelte,ts}';

@plugin 'flowbite/plugin';

@theme {
  --z-index-100: 100;

  --color-primary-50: oklch(97.9% 0.021 166.113);
  --color-primary-100: oklch(95% 0.052 163.051);
  --color-primary-200: oklch(90.5% 0.093 164.15);
  --color-primary-300: oklch(76.5% 0.177 163.223);
  --color-primary-400: oklch(76.5% 0.177 163.223);
  --color-primary-500: oklch(69.6% 0.17 162.48);
  --color-primary-600: oklch(59.6% 0.145 163.225);
  --color-primary-700: oklch(52.7% 0.154 150.069);
  --color-primary-800: oklch(43.2% 0.095 166.913);
  --color-primary-900: oklch(37.8% 0.077 168.94);
  

  --color-secondary-50: #f0f9ff;
  --color-secondary-100: #e0f2fe;
  --color-secondary-200: #bae6fd;
  --color-secondary-300: #7dd3fc;
  --color-secondary-400: #38bdf8;
  --color-secondary-500: #0ea5e9;
  --color-secondary-600: #0284c7;
  --color-secondary-700: #0369a1;
  --color-secondary-800: #075985;
  --color-secondary-900: #0c4a6e;
}

@layer base {
  button, [role="button"] {
    cursor: pointer;
  }
}