:root {
  --green: #4ab573;
  --white: #ffffff;
  --black: #001f3f;
  --grey: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--white);
  font-size: calc(0.6em + 0.6vw);
}

p {
  line-height: 2;
}

.write {
  min-height: 61vh;
  color: var(--black);
  width: 80%;
  padding-top: 15px;
  padding-left: 3%;
  padding-right: 3%;
  margin: auto;
  margin-top: 4rem;
  padding-bottom: 100px;
  margin-bottom: 10%;
  border-radius: 27px;
  background: var(--grey);
  box-shadow: inset 0 28px 28px 56px #7d7d7d, inset 0 -28px -28px 56px #ffffff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.column {
  flex: 1;
  max-width: 45%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 20px;
}

.column img {
  width: 100%;
  height: auto;
  max-width: 75%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

@media only screen and (min-width: 500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 800px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

input[type='text'],
input[type='button'] {
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}